{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}
<div id="app" class="clearfix">
  <div class="map-container col-sm-8 col-lg-9">
    <div>
      <div id="map-canvas"></div>
    </div>
  </div>
  <div id="control-panel" class="col-sm-4 col-lg-3 clearfix">
    <div class="col-xs-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body" id="options-panel">
          <div>
            <h4>Hotels</h4>
            <select data-type="hotel" id="hotel-choices">
            {% for hotel in hotels %}
              <option>{{hotel.name}}</option>
            {% endfor %}  
            </select>

            <button data-action="add" class="btn btn-primary btn-circle pull-right hotelbtn">+</button>
          </div>
          <div>
            <h4>Restaurants</h4>
            <select data-type="restaurant" id="restaurant-choices">
              {% for restaurant in restaurants %}
              <option>{{restaurant.name}}</option>
            {% endfor %}  
            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right restbtn">+</button>
          </div>
          <div>
            <h4>Activities</h4>
            <select data-type="activity" id="activity-choices">
              {% for activity in activities %}
              <option>{{activity.name}}</option>
            {% endfor %}
            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right actbtn">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-12">
      <h3>
        <span id="day-title">
          <span id="dayNum">Day </span>
          <button class="btn btn-xs btn-danger remove-day btn-circle">x</button>
        </span>
      </h3>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="day-buttons">
            <button class="btn btn-circle day-btn current-day">1</button>
            <button class="btn btn-circle day-btn">2</button>
            <button class="btn btn-circle day-btn">3</button>
            <button class="btn btn-circle day-btn" id="day-add">+</button>
          </div>
        </div>
        <div class="panel-body" id="itinerary">
          <div>
            <h4>My Hotel</h4>
            <ul class="list-group">
              <div class="itinerary-item hotel">
              
              </div>
            </ul>
          </div>
          <div>
            <h4>My Restaurants</h4>
            <ul class="list-group">
              <div class="itinerary-item restaurant">
                
              </div>
            </ul>
          </div>
          <div>
            <h4>My Activities</h4>
            <ul class="list-group">
              <div class="itinerary-item activity">
                
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/jquery/jquery.min.js"></script>
<script>

  $(document).ready(function(){
    $('.hotelbtn').on('click', function(){
      var $hotelName = $('#hotel-choices').val();
      $('.hotel').append('<div>' + '<span class="title hoteltitle">' + $hotelName + '</span><button class="btn btn-xs btn-danger remove-hotel btn-circle">x</button>' + '</div>');
      console.log($('#hotel-choices').val());
    });
  });

  $(document).ready(function(){
    $('.restbtn').on('click', function(){
      var $restName = $('#restaurant-choices').val();
      $('.restaurant').append('<div>' + '<span class="title">' + $restName + '</span><button class="btn btn-xs btn-danger remove-rest btn-circle">x</button>' + '</div>');
      console.log($('#restaurant-choices').val());
    });
  });

  $(document).ready(function(){
    $('.actbtn').on('click', function(){
      var $activityName = $('#activity-choices').val();
      $('.activity').append('<div>' +'<span class="title">' + $activityName + '</span><button class="btn btn-xs btn-danger remove-act btn-circle">x</button>' + '</div>');
      console.log($('#restaurant-choices').val());
    });
  });

  $(document).ready(function(){
    $('.hotel').on('click','.remove-hotel',function(){
      $(this).parent().remove();
    });
  });

  $(document).ready(function(){
    $('.restaurant').on('click','.remove-rest',function(){
      $(this).parent().remove();
    });
  });

  $(document).ready(function(){
    $('.activity').on('click','.remove-act',function(){
      $(this).parent().remove();
    });
  });

  $(document).ready(function(){
    $('.day-buttons').on('click', '.day-btn', function(){
      if (!$(this).hasClass('current-day')){
        $('#dayNum').text("Day ");
        $('.current-day').removeClass('current-day');
        $(this).addClass('current-day');
        $('#dayNum').append($('.current-day').text());
      }
    });
  });

  $('document').ready(function(){
    
    $('.day-buttons').on('click','#day-add', function(){
      var $numDay = +$('.day-buttons').children().text().slice(-2,-1);
       $('.current-day').removeClass('current-day');
      $('<button class="btn btn-circle day-btn current-day">' + ($numDay+1) + '</button>').insertBefore('#day-add');
      $('#dayNum').text("Day ");
      $('#dayNum').append(Number($('.current-day').text()));
    })
  })


</script>

{% endblock %}
